/* other */
body {
  background-color: #4F4F4F;
  color: #A6A6A6;
}

a {
  text-decoration: none;
  color: #A6A6A6;
}
a:hover {
  color: #D9D9D9;
}

button {
  border-radius: 5px;
  border-width: 0px;
  padding: 10px 15px;
  font-size: 15px;
  color: #A6A6A6;
  background-color: #272727;
}
button:hover {
  background-color: #D9D9D9;
  color: #272727;
}

table {
  table-layout: fixed;
}

thead > tr > th {
  padding: 5px 10px;
  text-align: left;
  font-size: 15px;
  background-color: #272727;
  color: #A6A6A6;
}
tbody > tr > td {
  padding: 5px 10px;
  text-align: left;
  font-size: 15px;
  background-color: #A6A6A6;
  color: #272727;
  word-wrap: break-word;
  word-break: break-all;
}

/* coomon */
.container {
  display: flex;
  justify-content: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-content {
  height: 92vh;
  display: flex;
  justify-content: center;
}

/* 長寬高 */
.h-small {
  height: auto;
}
.h-medium {
  height: 50%;
}
.h-large {
  height: 100%;
}
.w-small {
  width: auto;
}
.w-medium {
  width: 50%;
}
.w-large {
  width: 100%;
}
.col-xs-1 {
  width: 5%
}
.col-xs-2 {
  width: 10%
}
.col-xs-4 {
  width: 20%
}
.col-xs-6 {
  width: 30%;
}

.NavigationBar {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272727;
}

.Note {
  background-color: #D9D9D9;
  color: #404040;
  width: 70%;
  overflow-y: scroll;
  padding: 10px 20px;
  margin: 20px 15px;
  border-radius: 5px;
}

.NavigationItem {
  padding: 10px;
  margin: 10px;
}

.NavigationItem a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.NavigationItem:hover, .NavigationItem a:hover {
  color: #4F4F4F;
  background-color: #D9D9D9;
}

/* IntroductionPage */
.IntroductionPage {
  width: 100vw;
  align-items: center;
  overflow-y: scroll;
}
.IntroductionPage .Experience th {
  font-size: 20px;
  padding: 0px 10px;
}
.IntroductionPage .Experience td {
  font-size: 20px;
}
.IntroductionContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(166,166,166,0.4);
  background-blend-mode: darken;
}

.IntroductionSaying {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/saying-1.png');
  background-size: cover;
  background-color: rgb(166,166,166,0.4);
  background-blend-mode: darken;
  background-position: 50% 0%;
}
.IntroductionSayingContent {
  align-content: center;
  text-align: center;
  height: 400px;
  width: 70%;  
  padding: 0px 10px;
  color: #4F4F4F;
}
.ch-saying {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.kr-saying {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Gamja Flower', sans-serif;
}

.Avatar {
  width: 400px;
  height: 400px;
  background-color: rgb(255,255,255,0.4);
}
.Avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 75% 50%;
}

.Introduction {
  height: 400px;
  width: 600px;
  text-align: left;
  align-content: center;
  padding: 0px 10px;
  background-color: rgb(255,255,255,0.4);
  color: #4F4F4F;
}
.Introduction-title {
  font-size: 30px;
}
.Introduction-subtitle {
  font-size: 21px;
}
.Introduction td {
  background-color: transparent;
  /* padding: 0px 10px; */
}

.ExperienceProject {
  /* padding: 5px 10px; */
  display: flex;
  align-items: center;
}

.ExperienceLink {
  background-image: url('./images/github.png');
  background-size: cover;
  height: 20px;
  width: 20px;
  margin-left: 15px;
}
a.ExperienceLink:hover {
}


.SideBar {
  width: 20%;
  height: 100%;
  margin-right: 30px;
  overflow-y: scroll; 
}

/* .NotesSideBar::-webkit-scrollbar {
    height: 10px;
    width: 12px;
    background-color: transparent;
} */

/* .NavigationBar::-webkit-scrollbar-thumb {
  background-color: #66666665;
  border-radius: 10px;
  border: 10px solid #fff;
} */

.SideBarItemParent {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 10px;
}

.SideBarItemParent .title {
  margin-right: 10px;
}



/* NotesPage */
.NotesPage {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
}

.Note pre {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #f7f7f7;
}
.Note li code {
  border-radius: 5px;
  padding: 2.5px 5px;
  background-color: #f7f7f7;
}

.markdown {
  font-family: sans-serif;
  white-space: pre-wrap;
}

/* Note */
.markdown-pre {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #f7f7f7;
}
.markdown-pre code {
  
}

.markdown-pre a span {
  color: #000;
  background-color: #D0D0D0;
  padding: 5px;
}

.markdown-pre a span:hover {
  background-color: #a7a7a7;
  cursor: pointer;
}

.ToolsPage {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
}

.ToolsContent {
  width: calc(100% - 30px);
  height: calc(100% - 20px);
  padding: 10px 15px;
  margin: 0px;
  overflow-y: scroll; 
  overflow-x: hidden;
}

.TextArea {
  height: 100%;
  background-color: #272727;
}

.TextArea .Option {
  min-height: 31px;
  display: flex;
  justify-content: space-between;
}

.TextArea .Option .copy-title {
  text-align: left;
  padding: 5px;
}

.TextArea .Option .copy-btn {
  padding: 5px;
}

.TextArea .Option .copy-btn a {
  text-align: right;
}

.TextArea .Option img {
  width: 15px;
  height: 15px;
}
.TextArea a {
  border-width: 0px;
  font-size: 15px;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: calc(100% - 31px);
  background-color: #9D9D9D;
  padding: 10px;
  font-size: 15px;
  border-width: 0px;
  resize: none;
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}
textarea:focus {
  outline: none;
}


/* custom component  */
.downArrow {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid #A6A6A6;
  display: inline-block;
}
.downArrow:hover {
  border-top-color: #D9D9D9;
}
.upArrow {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #A6A6A6;
  display: inline-block;
}
.upArrow:hover {
  border-bottom-color: #D9D9D9;
}
.leftArrow {
  border-right: 10px solid #A6A6A6;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  display: inline-block;
}
.leftArrow:hover {
  border-right-color: #D9D9D9;
}
.rightArrow {
  border-left: 10px solid #A6A6A6;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  display: inline-block;
}
.rightArrow:hover {
  border-left-color: #D9D9D9;
}


/* 愛心 */
.heart {
  position: relative;
  width: 50%;
  height: 75%;
}
.heart::after,
.heart::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: red;
  border-radius: 50px 50px 0 0;
}
.heart::after {
  left: 17%; /* 調整位置使其適配百分比 */
  transform: rotate(-45deg);
}
.heart::before {
  left: 35%; /* 調整位置使其適配百分比 */
  transform: rotate(45deg);
}

.defaultMask {
  background: #ADADAD no-repeat top center / contain;
  opacity: 0.1;
  max-width: 100%;
  max-height: 100%;
  position: absolute; /*絕對定位 搭配z-index使用, fixed也可以用*/
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.defaultMask:hover {
  opacity: 0.2;
}

.defaultImg {
  /* padding: 5%; */
  width: 100px;
  aspect-ratio: 1 / 1;
}


.PhotoAlbumLeft {
  transform: rotate(345deg);
  z-index: 2;
  position: absolute;
}

.PhotoAlbumMid {
  z-index: 3;
  position: absolute;
  margin-left: 40px;
}

.PhotoAlbumRight {
  transform: rotate(15deg);
  z-index: 1;
  /* position: absolute; */ /* 最後一個不需要定位，會影響排版 */
  margin-left: 80px;
}


.PhotoAlbum {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 1%;
}


/* PhotoDetail */
.PhotoDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
}

.PhotoContainer {
  background-color: #272727;
  width: 35%;
  height: auto;
}
.PhotoHeader {
  text-align: center;
  padding: 10px 5px;
}
.PhotoContent {

}
.PhotoBar {
  display: flex;
  justify-content: center;
  /* background-color: #F0F0F0; */
  background-blend-mode: darken;
  /* opacity: 0.3; */
  
}
.PhotoBarContent {
  width: 50%;
  /* height: 300px; */
  display: flex;
  overflow-y: scroll;
  scrollbar-width: none; /* 對 Firefox 隱藏滾動條 */
  -ms-overflow-style: none; /* 對 IE 和 Edge 隱藏滾動條 */


}


.PhotoFooter {
  display: flex;
  justify-content: space-between;
}


.PhotoDetail .single-image {
  width: 30%;
}

.PhotoDetail .biggest-image {
  
}

.PhotoDetail .select-images-bar {
  display: flex;
  overflow-y: scroll;
  width: 100%;
}

.PhotoDetail .multi-images {
  width: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 创建两列 */
  grid-column-gap: 0px;
  grid-gap: 0px; /* 设置列之间的间距 */
}

